* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin: 3% 25% 3% 25%;
width:50%;
}

.image{
    width: 10%;
 
}

img{
    height: 180px;
    border-radius: 20px;
}

.post{
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    margin-bottom: 1%;
}

.caption{
    font-weight: bold;
    font-size: 26px;
    margin-top: 2%;
    margin-bottom: 4%;

}

.chname{
    font-size: 18px;
}

.viewtime{
    margin-top: 3%;
    font-size: 20px;
}